[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/RakeshTM
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/RakeshTM
	label-Verified = -1..+1 group user/RakeshTM
	push = group user/RakeshTM
	read = group user/RakeshTM
	rebase = group user/RakeshTM
	removeReviewer = group user/RakeshTM
	submit = group user/RakeshTM
[access "refs/heads/*"]
	create = group user/RakeshTM
	push = +force group user/RakeshTM
	pushMerge = group user/RakeshTM
	read = group user/RakeshTM
[access "refs/tags/*"]
	push = group user/RakeshTM
	push = +force group user/RakeshTM
